.benefits__promo-blocks {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10rem;
}
.benefits__promo-block, .benefits__promo-block2 {
    flex-basis: 563px;
    height: 292px;
}
.benefits__promo-block {
    background-image: url(../src/promo-block.png);
}
.benefits__promo-block2 {
    background-image: url(../src/promo-block2.png);
}
