.bg-fashion {
    position: absolute;
    background-image: url(./src/Rectangle1.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 940px;
    width: 100%;
    top: 4.6rem;
}