.header {
    position: relative;
    z-index:1;
    
}
.header:before {    
    background-image: url(../src/Rectangle4.png);
    background-size: contain;
    height: 100%;
    width: 100%;
    opacity: 0.6;
    z-index:-1;
    position:absolute;
    left:50%;
    transform: translateX(-50%);
    top:0;
    content: '';
}
.header__top {
    display: grid;
    grid-template-areas: 'hello email lang-currency';
    justify-content: space-between;
    grid-auto-columns: 1fr 2fr 1fr;
    padding-top: 48px;
    padding-bottom: 20px;
}
.header__hello, .header__email {
    font-size: 15px;
    font-weight: 500;
}
.header__email a {
    font-weight: 700;
}
.header__buttom {
    display: grid;
    grid-template-areas: 'logo menu icons';
    justify-content: space-between;
    grid-auto-columns: 2fr 2fr 1fr;
    border-top: 1px solid black;
    padding-top: 20px;
    padding-bottom: 20px;
}
.logo {
    font-size: 27px;
    font-weight: 900;
}
.header__lang-currency, .header__menu {
    text-align: right;
    font-size: 17px;
    font-weight: bold;
}
.header__menu-items, .header__icons {
    list-style: none;
    display: inline-flex;
    justify-content: flex-end;
    gap: 15px;
}
.header__search input {
    display:none;
}
.header__icons {
    gap:40px;
}