@import url(../style/top-panel.css) screen;
@import url(../style/header.css) screen;
@import url(../style/bg-fashion.css) screen;
@import url(../style/font-awesome-4.7.0/css/font-awesome.min.css) screen;
* {
    margin: 0;
    text-decoration: none;
}
.wrapper {
    max-width: 1400px;
    margin: 0 auto;
}
@media (max-width: 1400px) {
    .bg-fashion {
        background-size: contain;
    }
}
@media (max-width: 1440px) and (min-width: 980px) {
    .top-panel_img {
        background-size: contain;
    }
    .top-panel_items {
        padding: 0 30px 0 30px;
    }
}

@media (min-width: 1200px) and (max-width: 1440px) {
    .wrapper {
        max-width: 1200px;        
    }
    
}
@media (min-width: 980px) and (max-width: 1200px) {
    .wrapper {
        max-width: 1024px;        
    }
    .top-panel_items-text {
        font-size: 19px;
    }
    
}