.wrapper {
    max-width: 1400px;
    margin: 0 auto;
}
@media (min-width: 1200px) and (max-width: 1440px) {
    .wrapper {
        max-width: 1200px;        
    }
   
}
@media (min-width: 992px) and (max-width: 1200px) {
    .wrapper {
        max-width: 1024px;        
    }
    .bg-fashion_h1 {
        font-size: 100px;
        margin-left: 4rem;
    }
    .bg-fashion_h3 {
        font-size: 40px;
    }
    .bg-fashion_text {
        font-size: 15px;
        margin-left: 3rem;
    }
    .fashion__link {
        margin-left: 2rem;
    }
    .benefits__promo-block, .benefits__promo-block2 {
        flex-basis: 476px;
    }    
}
@media (max-width: 992px) and (min-width:768px) {
    .wrapper {
        max-width: 768px;        
    } 
    .top-panel {
        min-height: 54px;
    }
    .header__buttom {
        grid-auto-columns: 1fr 1fr 1fr;
    }
    .bg-fashion_block {
        right: 40%;
    }
    .bg-fashion_h1 {
        font-size: 80px;
        margin-left: 7rem;
    }
    .bg-fashion_h1 span {
        margin-left: 1rem;
    }
    .bg-fashion_h3 {
        font-size: 30px;
        letter-spacing: 87.16px;
        margin-left: 8.5rem;
    }
    .bg-fashion_text {
        font-size: 13px;
        max-width: 350px;
        align-self: center;
        margin-left: 2rem;
    }
    .fashion__link {
        margin-left: 2.5rem;
    }
    .bg_link {        
        width: 100px;
        padding: 10px 15px 10px 15px;
        font-size: 18px;
    }
    .benefits__promo-blocks {
        margin-top: 3rem;
    }
    .benefits__promo-block, .benefits__promo-block2 {
        flex-basis: 360px;
        background-position: center center;
    }      
    .benefits__h3 {
        font-size: 36px;
    }
    .benefits__text {
        max-width: 200px;
        font-size: 14px;
    }
}
@media (max-width:768px) and (min-width:576px) {
    .wrapper {
        max-width: 576px;
    }
    .top-panel {
        padding: 0 10px 0 10px;
    }
    .header__top {
        grid-template-areas: "hello lang-currency";
        grid-auto-columns: 1fr 1fr;
        padding-top: 28px;
        padding-bottom: 10px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .header__email {
        display: none;
    }
    .header__buttom {
        grid-template-areas: "logo icons";
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .header__menu {
        display: none;
    }
    .bg-fashion {
        height: 500px;
    }
    .bg-fashion_block {
        right: 30%;
    }
    .bg-fashion_h1 {
        font-size: 60px;
        letter-spacing: -6.19px;
    }
    .bg-fashion_h1 span {
        margin-left: 1rem;
    }
    .bg-fashion_h3 {
        font-size: 30px;
        letter-spacing: 66.16px;
        margin-left: 8px;
    }
    .bg-fashion_text {
        display: none;
    }
    .fashion__link {
        margin-right: 3.5rem;
        margin-left: 0;
        font-size: 14px;
    }
    .circle-pos1, .circle-pos2, .circle-pos3 {
        width: 75px;
        height: 75px;
        top: -2rem;
    }
    .benefits_circle img {
        width: 40%;
    }
    .benefits_icons-text {
        font-size: 17px;
        width: 140px;
    }
    .benefits__promo-blocks {
        flex-direction: column;
        flex-wrap: wrap;
    }
    .benefits__promo-block, .benefits__promo-block2 {
        flex-basis: 307px;
        height: 292px;
        display: grid;
        grid-template-columns: 60%;
        grid-template-rows: 30%;
         row-gap: 23px;
    }
    .benefits__h3 {
        padding-top: 20px;
    }
    .benefits__text {
        width: 200px;
    }
    .benefits__link {
        margin-top: 0;
        margin-bottom: 10px;
    }
}

@media (max-width:576px) {
    .wrapper {
        max-width: 357px;
    }
    .top-panel {
        padding: 0 10px 0 10px;
    }
    .top-panel__items-text {
        font-size: 15px;
    }
    .top-panel__items-close {
        font-size: 10px;
    }
    .header__top {
        grid-template-areas: "hello lang-currency";
        grid-auto-columns: 1fr 1fr;
        padding-top: 28px;
        padding-bottom: 10px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .header__email {
        display: none;
    }
    .header__buttom {
        grid-template-areas: "logo icons";
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .header__menu {
        display: none;
    }
    .bg-fashion {
        height: 400px;
    }
    .bg-fashion_block {
        right: 45%;
    }
    .bg-fashion_h1 {
        font-size: 30px;
        letter-spacing: -2.19px;
        width: 150px;
    }
    .bg-fashion_h1 span {
        margin-left: 0.5rem;
    }
    .bg-fashion_h3 {
        font-size: 15px;
        letter-spacing: 33.16px;
        margin-left: 8px;
    }
    .bg-fashion_text {
        display: none;
    }
    .fashion__link {
        margin-right: 2rem;
        margin-left: 0;
        font-size: 12px;
        width: 100px;
        padding: 10px 15px 10px 15px;
        margin-top: 14px;
    }
    .circle-pos1, .circle-pos2, .circle-pos3 {
        width: 55px;
        height: 55px;
        top: -2rem;
    }
    .benefits_circle img {
        width: 40%;
    }
    .benefits_icons-text {
        font-size: 12px;
        width: 105px;
    }
    .benefits_icons-text span {
        font-size: 10px;
    }
    .benefits__promo-blocks {
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 0;
        gap: 10px;
    }
    .benefits__promo-block, .benefits__promo-block2 {
        flex-basis: 307px;
        height: 292px;
        display: grid;
        grid-template-columns: 60%;
        grid-template-rows: 30%;
        row-gap: 23px;
        margin-left: 0;
        background-size: 100% 100%;
    }
    .benefits__h3 {
        padding-top: 20px;
    }
    .benefits__text {
        width: 200px;
    }
    .benefits__link {
        margin-top: 20px;
        margin-bottom: 0;
    }
}