.top-panel {
    position: relative;
    top: 0;
    min-height: 74px;
    background-blend-mode: darken;
    background-image: linear-gradient(to top, #f9236f, #f92346);
    z-index: 2;    
}
.top-panel__img {
    position: absolute;
    width: 100%;    
    transform: translateX(-50%);
    max-height: 100%;
    min-height: 50%;
    height: 74px;
    left: 50%;
    background-image: url(../src/Layer1.png);        
    opacity: 0.42;
    mix-blend-mode: multiply;
    z-index: -2;
}
.top-panel__items {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;    
    align-items: center;
    min-height: inherit;
}
.top-panel__items-text {
    font-size: 21px;
    font-weight: bold;
    color: white;
}
.top-panel__items-close {
    text-decoration:none; 
    text-align:center; 
    padding:6px 10px;
    -webkit-border-radius:22px;
    -moz-border-radius:22px; 
    border-radius: 22px;  
    background-color:white; 
    font-size: 17px;
    font-weight: 800;
}